
<h1>{{nombre}}</h1>

<dl>
    <td>Nombre: </td>
    <dd>{{nombre}}</dd>

    <td>Edad: </td>
    <dd>{{edad}}</dd>

    <td>Funcion: </td>
    <dd>{{obtenerNombre()}}</dd>

    <td>Capitalizado JS: </td>
    <dd>{{nombre.toUpperCase()}}</dd>

    <td>Capitalizado TS: </td>
    <dd>{{nombreCapitalizado}}</dd>
</dl>