<p>Listado:</p>

<div *ngIf="hBorrado; else noBorrado">
    <h3>Borrando...</h3>
    <span>{{hBorrado}}</span>
</div>

<ng-template #noBorrado>
    <h3>No ha borrado nada!</h3>
</ng-template>


<button (click)="borrar()">Borrar</button>


<ul>
    <li *ngFor="let h of heroes; let i = index">
        {{ i }} - {{ h }}
    </li>

</ul>


